.start {
    display: none;
}

.end {
    display: none;
}

body {
    background: rgb(8, 190, 245);
    background-image: url("./images/bkNightTime.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/* NAVIGATION styling start */
li {
    display: inline-flex;
    align-content: center;
    padding-right: 50px;
    color: white;
}

/* QUIZBOX styling start */

section {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 5px;
    
}

.topSection {
    background-color: rgb(241, 241, 86);
}


#game-start h1 {
    padding: 40px;
    text-decoration: underline;
}

.quizBox {
    margin-left: 80px;
    margin: auto;
    padding: 10px;
    height: 150px;
    background-color: rgb(241, 241, 86);
    overflow: auto;
}

.quizBox button {
    display: inline-block;
    margin-right: 10px;
}

/* INFO section start */

.game-end {
    margin-left: 20px;
    margin: auto;
    background-color: rgb(4, 126, 240);
    padding: 10px;
    border: 1px solid black;
    overflow: auto;
    

}

/* HighScore sections start */

.scores {
    overflow: auto;
    background-image: url("./images/SBhome.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.scores li {
    display: block;
    margin-bottom: 10px;
    font-size: x-large;
}


/* FOOTER styling start */
footer {
    background-image: url("./images/captain.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    height: 25px;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 10px 0 50px 0;
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    text-decoration: solid;
    text-align: center;
}